<div class="modal fade" id="addProjectToCustomer" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Projekt zum Kunden <%=@customer.name%> hinzufügen</h4>
      </div>
      <% if @addprojects.count > 0 %>
      <div class="modal-body">
        <%= form_for @addProject, url: {controller: "customer", action: "addProject"} do |f| %>
            <%= f.hidden_field :customer_id, value: @customer.id %>
            <div class="field">
              <h5>
                 <%= f.label 'Projekt' %>
              </h5>
               <%= f.collection_select(:projects_id, @addprojects, :id, :title) %>
        </div>

      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit "Anhängen", class: 'btn btn-primary' %>
            <% end %><br>
        </div>
      <% else %>
          <div class='modal-body'>
            <h5> Es gibt keine aktuellen Projekte, welche hinzugefügt werden können!</h5>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->