<div class="page-header">
  <h1>Bearbeiten von <small><%= resource_name.to_s.humanize %></small></h1>
</div>
<div class="col-md-3 col-md-offset-4">
  <div class="panel panel-default">
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

       <div class="field">
        <%= f.label "Vorname" %><br />
        <%= f.text_field :first_name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label "Nachname" %><br />
        <%= f.text_field :last_name, autofocus: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label "Passwort" %> <i>(Leer lassen wenn es nicht geändert werden soll)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label "Passwort wiederholen" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label "aktuelles Passwort" %> <i>(zum bestätigen der Änderungen)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Speichern" %>
      </div>
    <% end %>
  </div>

</div>

</div>
