<%= render partial: '/tasks/modal/newHistory' %>
<%= render partial: '/tasks/modal/newAttachment' %>
<%= render partial: '/shared/flash_message'%>
<div class="page-header">
  <h1>Aufgabe <%= @item.id %>, <small><%= @item.title %></small></h1>
</div>

<% if @item.finished.blank? %>
  <div class="page-header">
    <ul class="nav nav-pills">
      <li role="presentation"><a href="#" data-toggle="modal" data-target="#newHistoryInTask">Neuer Kommentar</a></li>
      <li role="presentation"><a href="#" data-toggle="modal" data-target="#newAttachmentInTask">Datei anhängen</a></li>
      <li role="presentation"><%=link_to "Aufgabe Erledigt", {:controller => "tasks", :action => "finished", :id => @item.id} %></li>
    </ul>
  </div>
<% end %>

<div class="row">
    <div class="col-md-12">
      <div class="col-md-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Details</h3>
          </div>
          <table class="table table-striped">
            <tr>
              <th>Beschreibung</th>
            </tr>
            <tr>
              <td><%=simple_format(@item.description)%></td>
            </tr>
            <tr>
              <th>Geplanter Start</th>
            </tr>
            <tr>
              <td><%=@item.start.strftime("%d.%m.%Y")%></td>
            </tr>
            <tr>
              <th>Geplantes Ende</th>
            </tr>
            <tr>
              <td><%=@item.end.strftime("%d.%m.%Y")%></td>
            </tr>
            <tr>
              <th>Erledigt am</th>
            </tr>
            <tr>
              <% if @item.finished.present? %>
                <td><%=@item.finished.strftime("%d.%m.%Y %H:%M:%S")%></td>
              <% else %>
                <td>-</td>
              <% end %>
            </tr>
          </table>
        </div>
      </div>

      <div class="col-md-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Projekt</h3>
          </div>
          <table class="table table-striped">
             <tr>
              <th>Projektnummer</th>
            </tr>
            <tr>
                <td>
                  <%= link_to project_path(@item.project), 'data-toggle'=> "tooltip", 'data-placement' => "bottom", title: "Zum Projekt" do%>
                    <%=@item.project.id %>
                  <% end %>
                </td>
            </tr>
            <tr>
              <th>Projekttitel</th>
            </tr>
            <tr>
                <td><%=@item.project.title %></td>
            </tr>
            <tr>
              <th>Projektleiter</th>
            </tr>
            <tr>
              <% if @item.project.user.present? %>
                <td><%=@item.project.user.first_name%> <%=@item.project.user.last_name%></td>
              <% else %>
                <td>Kein Projektleiter definiert!</td>
              <% end %>
            </tr>
            <tr>
              <th>Projekt-Beschreibung</th>
            </tr>
            <tr>
              <td><%=simple_format(@item.project.description)%></td>
            </tr>
             <tr>
              <th>Reklamation Lieferant</th>
            </tr>
            <tr>
              <td><%=@item.project.reklamation_lief%></td>
            </tr>
             <tr>
              <th>Lieferscheinnummer</th>
            </tr>
            <tr>
              <td><%=@item.project.lief_nr%></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Hochgeladene Dateien zur Aufgabe</h3>
          </div>
          <% if @files.blank? %>
              Keine Dateien gefunden!
          <% else %>
              <table class="table table-hover">
                <tr>
                  <th>Dateiname</th>
                  <th>Dateityp</th>
                  <th>Hochgeladen von</th>
                  <th colspan="2">Hochgeladen am</th>
                </tr>
                <% @files.each do |file| %>
                  <tr>
                    <td>
                      <%= link_to file.file.url(:original, false),  target: "_blank", 'data-toggle'=> "tooltip", 'data-placement' => "bottom", title: "Datei öffnen" do %>
                      <%=file.file_file_name%>
                      <% end %>
                    </td>
                    <td><%=file.file_content_type%></td>
                    <td><%=file.user.first_name%> <%=file.user.last_name%></td>
                    <td><%=file.file_updated_at.strftime("%d.%m.%Y %H:%M:%S")%></td>
                    <td>
                      <%= link_to attachment_path(file), method: :delete, 'data-toggle'=> "tooltip", 'data-placement' => "bottom", title: "Datei löschen" do %>
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                      <%end%>
                    </td>
                  </tr>
                <%end%>
              </table>
              <% if @files.count/10 > 1 %>
                <%= will_paginate @files, renderer: BootstrapPagination::Rails, :param_name => 'filepage' %>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
</div>
<div class="row">
  <div <div class="col-md-12">
      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Logbuch</h3>
          </div>
          <div class="panel-body fixed-panel">
            <% if @item.historys.blank? %>
              Keine Kommentare gefunden!
            <% else %>
              <table class="table table-striped">
                <% @item.historys.each do |history| %>
                    <tr>
                      <% if history.systemflag %>
                        <th>System schrieb am <%=history.created_at.strftime("%d.%m.%Y %H:%M:%S") %></th>
                      <% else %>
                        <th><%= history.user.first_name %> <%= history.user.last_name %> schrieb am <%=history.created_at.strftime("%d.%m.%Y %H:%M:%S") %></th>
                      <% end %>
                    </tr>
                    <tr>
                      <td><%=simple_format(history.message)%></td>
                    </tr>
                <%end%>
              </table>
            <% end %>
          </div>
        </div>
      </div>

    </div>
</div>