<div class="modal fade" id="editComponent" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Bauteil editieren</h4>
      </div>
      <div class="modal-body">
        <%= form_for @component, url: {action: "update"} do |f| %>
            <div class="field">
              <h5>
               <%= f.label 'Bauteilenummer SAP' %>
              </h5>
              <%= f.text_field :component_id_sap, class: 'form-control' %>
            </div>
            <div class="field">
              <h5>
                 <%= f.label 'Bauteilbezeichnung' %>
              </h5>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="field">
              <h5>
                <%= f.label 'Bauteilbeschreibung' %>
              </h5>
              <%= f.text_area :description, class: 'form-control' %>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Ändern", class: 'btn btn-primary' %>
        <% end %><br>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->