<%= render partial: '/project/modal/newProject' %>
<div class="page-header">
  <h1>Alle Projekte</h1>
</div>
<br>
<div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <tr>
          <th>#</th>
          <th>Titel</th>
          <th>Bezeichnung</th>
          <th>Bauteil / Kunde</th>
          <th>Typ</th>
          <th>Projektleiter</th>
          <th>Fortschritt</th>
          <th></th>
        </tr>
        <% @projects.each do |project| %>
            <tr>
              <td>
                <%= link_to project_path(project), 'data-toggle'=> "tooltip", 'data-placement' => "bottom", title: "Projekt öffnen" do %>
                  <%=project.id%>
                <% end %>
              </td>
              <td><%=project.title%></td>
              <td><%=project.description%></td>
               <% if project.customer.present? || project.component.present? %>
                <td>
                  <% if project.customer.present? %>

                    <%= link_to customer_path(project.customer), 'data-toggle'=> "tooltip", 'data-placement' => "bottom", title: "Zum Kunden " + project.customer.name do %>
                      K<%=project.customer.id%>
                    <% end %>
                  <% end %>
                  <% if project.customer.present? && project.component.present? %>
                    /
                  <% end %>
                  <% if project.component.present? %>
                    <%= link_to component_path(project.component), 'data-toggle'=> "tooltip", 'data-placement' => "bottom", title: "Zum Bauteil " + project.component.name do %>
                      B<%=project.component.id%>
                      <% end %>
                  <% end %>
                </td>
              <% else %>
                <td>ohne Zuordnung</td>
              <% end %>
              <td><%=project.type%></td>
              <% if project.user.present? %>
                <td><%=project.user.first_name%> <%=project.user.last_name%></td>
              <% else %>
                <td>Kein Projektleiter definiert</td>
              <% end %>
              <td>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="<%=project.progress%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=project.progress%>%;">
                    <%=project.progress%>%
                  </div>
                </div>
              </td>
              <td>
                <%= link_to project_path(project, customer: @customer), method: :delete, 'data-toggle'=> "tooltip", 'data-placement' => "bottom", title: "Projekt löschen" do %>
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                <%end%>
              </td>

            </tr>
        <%end%>
      </table>
    </div>
</div>