<%= render partial: '/shared/header', locals: {section: @customer.component.name + " > " + @customer.name + " > Projekt anlegen", back: true} %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title"> Projekt anlegen</h1>
      </div>
      <div class="panel-body">

        <%= form_for @project, url: {action: "create"} do |f| %>
            <%= f.hidden_field :customer_id, value: @customer.id %>
            <div class="field">
              <h5>
               <%= f.label 'Projekttitel' %>
              </h5>
              <%= f.text_field :title, class: 'form-control' %>
            </div>
            <div class="field">
              <h5>
                 <%= f.label 'Projektbeschreibung' %>
              </h5>
              <%= f.text_field :description, class: 'form-control' %>
            </div>
            <br>
            <br>
            <%= f.submit "Erstellen", class: 'btn btn-primary' %>
          <% end %><br>
      </div>
    </div>
  </div>
</div>