<%= render partial: '/customer/modal/newHistory' %>
<%= render partial: '/customer/modal/newAttachment' %>
<%= render partial: '/customer/modal/addProject' %>
<%= render partial: '/customer/modal/addComponent' %>
<%= render partial: '/customer/modal/editCustomer' %>
<div class="page-header">
  <h1>Kunde <%= @customer.id %>, <small><%= @customer.name %></small></h1>
</div>

<div class="page-header">
  <ul class="nav nav-pills">
    <li role="presentation"><a href="#" data-toggle="modal" data-target="#newHistory">Neuer Kommentar</a></li>
    <li role="presentation"><a href="#" data-toggle="modal" data-target="#newAttachment">Datei anhängen</a></li>
  </ul>
</div>

<div class="row">
    <div class="col-md-12">
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <%= link_to 'Edit Customer', 'data-toggle'=> "modal",'data-target' => '#editCustomer', title: "Kunde editieren" do %>
                <span class="glyphicon glyphicon-pencil pull-right" style="color:white" aria-hidden="true"></span>
              <% end %>
            <h3 class="panel-title">Kunde-Details</h3>
          </div>
          <table class="table table-striped">
            <tr>
              <th>Kundennummer SAP</th>
            </tr>
            <tr>
              <td><%=@customer.customer_id_sap%></td>
            </tr>
            <tr>
              <th>Kunden-Beschreibung</th>
            </tr>
            <tr>
              <td><%=simple_format(@customer.description)%></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <%= link_to 'Add Project', 'data-toggle'=> "modal",'data-target' => '#addProjectToCustomer', title: "Projekt hinzufügen" do %>
                <span class="glyphicon glyphicon-plus pull-right" style="color:white" aria-hidden="true"></span>
            <% end %>
            <h3 class="panel-title">Projekte</h3>
          </div>
          <% if @projects.blank? %>
            Keine Projekte gefunden!
          <% else %>
            <table class="table table-striped">
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Beschreibung</th>
                <th>Fortschritt</th>
              </tr>
              <% @projects.each do |project| %>
                  <tr>
                    <td><%= link_to project_path(project), title: "zum Projekt " + project.title do %> <%=project.id%> <% end %></td>
                    <td><%=project.title%></td>
                    <td><%=project.description%></td>
                    <td>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="<%=project.progress%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=project.progress%>%;">
                          <%=project.progress%>%
                        </div>
                      </div>
                    </td>
                  </tr>
              <%end%>
            </table>
            <% if @projects.count/10 > 1 %>
              <div class="panel-footer">
                <%= will_paginate @projects, renderer: BootstrapPagination::Rails, :param_name => 'projectpage' %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <%= link_to 'Add Component', 'data-toggle'=> "modal",'data-target' => '#addComponentToCustomer', title: "Bauteil hinzufügen" do %>
                <span class="glyphicon glyphicon-plus pull-right" style="color:white" aria-hidden="true"></span>
            <% end %>
            <h3 class="panel-title">Bauteile</h3>
          </div>
          <% if @components.blank? %>
            Keine Bauteile gefunden!
          <% else %>
            <table class="table table-striped">
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Beschreibung</th>
              </tr>
              <% @components.each do |component| %>
                  <tr>
                    <td><%= link_to component_path(component), title: "zum Bauteil " + component.name do %> <%=component.id%> <% end %></td>
                    <td><%=component.name%></td>
                    <td><%=component.description%></td>
                  </tr>
              <%end%>
            </table>
            <% if @components.count/10 > 1 %>
              <div class="panel-footer">
                <%= will_paginate @projects, renderer: BootstrapPagination::Rails, :param_name => 'componentpage' %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>


</div>
<div class="row">
  <div <div class="col-md-12">
    <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Hochgeladene Dateien zum Kunden</h3>
          </div>
          <% if @files.blank? %>
              Keine Dateien gefunden!
          <% else %>
              <table class="table table-hover">
                <tr>
                  <th>Dateiname</th>
                  <th>Dateityp</th>
                  <th>Hochgeladen von</th>
                  <th colspan="2">Hochgeladen am</th>
                </tr>
                <% @files.each do |file| %>
                  <tr>
                    <td>
                      <%= link_to file.file.url(:original, false),  target: "_blank", 'data-toggle'=> "tooltip", 'data-placement' => "bottom", title: "Datei öffnen" do %>
                      <%=file.file_file_name%>
                      <% end %>
                    </td>
                    <td><%=file.file_content_type%></td>
                    <td><%=file.user.first_name%> <%=file.user.last_name%></td>
                    <td><%=file.file_updated_at.strftime("%d.%m.%Y %H:%M:%S")%></td>
                    <td>
                      <%= link_to attachment_path(file), method: :delete, 'data-toggle'=> "tooltip", 'data-placement' => "bottom", title: "Datei löschen" do %>
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                      <%end%>
                    </td>
                  </tr>
                <%end%>
              </table>
              <% if @files.count/10 > 1 %>
                <%= will_paginate @files, renderer: BootstrapPagination::Rails, :param_name => 'filepage' %>
              <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Logbuch</h3>
          </div>
          <div class="panel-body fixed-panel">
            <% if @customer.historys.blank? %>
              Keine Kommentare gefunden!
            <% else %>
              <table class="table table-striped">
                <% @customer.historys.each do |history| %>
                    <tr>
                      <% if history.systemflag %>
                        <th>System schrieb am <%=history.created_at.strftime("%d.%m.%Y %H:%M:%S") %></th>
                      <% else %>
                        <th><%= history.user.first_name %> <%= history.user.last_name %> schrieb am <%=history.created_at.strftime("%d.%m.%Y %H:%M:%S") %></th>
                      <% end %>
                    </tr>
                    <tr>
                      <td><%=simple_format(history.message)%></td>
                    </tr>
                <%end%>
              </table>
            <% end %>
          </div>
        </div>
      </div>

    </div>
</div>