<!DOCTYPE html>
<html>
<head>
  <title>Jurgenhake</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%= link_to root_path, :class => "navbar-brand" do %>
       Jürgenhake
       <%end%>
      <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <strong>Projekte</strong>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <%= link_to project_index_path, :class => "dropdown_element" do%>
              <li>Alle Projekte</li>
              <% end %>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <strong>Bauteile</strong>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <%= link_to components_path, :class => "dropdown_element" do%>
              <li>Alle Bauteile</li>
              <% end %>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <strong>Kunden</strong>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <%= link_to customer_index_path, :class => "dropdown_element" do%>
              <li>Alle Kunden</li>
              <% end %>
            </ul>
          </li>
        </ul>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <%= render partial: '/shared/userWidget'%>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>
  <div class="container-fluid">

  <%= yield %>
  </div>
</body>
</html>
